<!DOCTYPE html>
<html>
<head>
    <title>MobStream</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <script src="templates/index.js"></script>
</head>
<body>
	<div id="buttons" class="overlay">
		<form method="POST" id="createForm">
			<input type="submit" id="createButton" value="Host a Mob">
		</form>
		<form id="joinForm">
			<input type="submit" id="joinButton" value="Join a Mob">
		</form>
	</div>
	<div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>
</body>
</html>